!!!
%html{html_attrs}
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title
    %link{ :href => "/thechangelog/css/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }
    = haml :analytics, :layout => false
  %body{ :class => @body_class }
    #grid
    = haml :header, layout => false
    = haml :feature, layout => false
    = haml :search_bar, layout => false
    %section#page
      .grid-container
        -# yield
        %section#content
          .post
            .post-heading
              %h2 domain-profiler: Get domain profile reports on the "Decisions that cost money"
              .by-line
                By <a href="">Adam Stacoviak</a> - Jan 26th 2011 - <a href="">Comment on Hacker News</a>
            .entry
              .summary
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %a{:href => "/", :class => "read-more"} Read more
            .post-info
              %ul.tags
                %li
                  %a{:href => "/"} #github
                %li
                  %a{:href => "/"} #ruby
                %li
                  %a{:href => "/"} #rails
          - 2.times do
            .more-posts
              .heading
                %h2 Recent Posts
              .post
                .post-heading
                  %h2 jsondns: DNS JSON API
                  .by-line
                    Jan 26th 2011 - <a href="">Comment on Hacker News</a>
                .entry
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .post
                .post-heading
                  %h2 git-pulls: Manage GitHub pull requests from the command line
                  .by-line
                    Jan 26th 2011 - <a href="">Comment on Hacker News</a>
                .entry
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .more-posts
              .post
                .post-heading
                  %h2 vain: Check GitHub user stats from the command line
                  .by-line
                    Jan 26th 2011 - <a href="">Comment on Hacker News</a>
                .entry
                  %p The vitality of conceptual synergies is of supreme importance whenever single-loop learning strategies go wrong, in order to build a shared view of what can be improved. The components and priorities for the change program building flexibility through spreading knowledge and self-organization, empowerment of all personnel, not just key operatives. Exploitation of core competencies as an essential enabler, by adopting project appraisal through incremental cash flow analysis.
              .post
                .post-heading
                  %h2 webdis: HTTP + JSON API for Redis
                  .by-line
                    Jan 26th 2011 - <a href="">Comment on Hacker News</a>
                .entry
                  %p It is the star to every wand'ring bark, that looks on tempests and is never shaken; whose worth's unknown, although his height be taken. Oh, no, it is an ever fixed mark love alters not with his brief hours and weeks, I never writ, nor no man ever loved. Within his bending sickle's compass come; or bends with the remover to remove. Which alters when it alteration finds, but bears it out even to the edge of doom.
        = haml :sidebar, :layout => false
    = haml :podcasts, :layout => false
    = haml :footer, :layout => false